page-process-order-categories {
     .ion-card {
        position: relative;
        text-align: center;
        box-shadow: 2px 6px 14px;
        border-radius: 8px !important;
    }

    .ion-card img {
        height: 120px;
    }

}
