<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rewards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="rewards-top" text-center>
    <!--
     <ion-card class="hover ion-card-top" no-padding no-margin>
        <img [src]="rewardImgSrc"/>
        <CompanyLogo [logo]="logoImgSrc"></CompanyLogo>
      </ion-card>
    -->

      <div class="margin-top reward-card-container" text-center>
        <EmptyMessage *ngIf="!rewards.length" message="rewards"></EmptyMessage>
        
        <ion-card tappable class=" reward-card" (click)="navRewardDetails(x)" *ngFor="let x of rewards" no-padding no-margin>
          <img [src]="x.imgSrc" onError="this.src='img/default.png';"/>
          <div class="reward-card-title">{{x.name}}</div>
          <div class="reward-card-expiry">
            <span>{{ x.startDate | date }} </span> --- <span> {{ x.expiryDate | date }}</span>
          </div>
          <div class="reward-header">{{ x.processingType }}</div>
        </ion-card>
      </div>
  </div>
</ion-content>
