page-transaction-details {
    .internal-info-header {
        font-size: 20px !important;
        font-weight: bold !important;
    }

    span .bold {
        margin-right: 5px !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }

    .addons-flavors {
        font-size: 8px !important;
    }

    .rejected-reward {
        color: map-get($colors, danger) !important;
    }
}
