<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order-Ahead Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <EmptyMessage *ngIf="!orders.length" longMessage="No active orders right now!"></EmptyMessage>

  <div class="width-80 align-center" *ngIf="orders.length">
    <ion-card class="align-left" *ngFor="let order of orders; let i = index;" (click)="order.showOrderDetails = !order.showOrderDetails">
      <ion-card-header>
        <ion-row>
          <ion-col class="purchase-date">{{ order.purchaseDate }}</ion-col>
          <ion-col *ngIf="order.customerName" text-center>
            <span class="name">Name:</span> <span class="bold">{{ order.customerName }}</span>
          </ion-col>
          <!-- arriving -->
          <ion-col *ngIf="!order.isExpired" text-center>
            <span class="arriving">Arriving:</span> 
            <span class="arriving-time">{{ order.arrivalMins }}:{{ order.arrivalSeconds }}</span>
          </ion-col>
          <ion-col *ngIf="!order.isExpired && order.arrivalMins === null" text-center>
            <span class="arriving">Arriving:</span> 
            <span class="arriving-time">Calculating arrival...</span>
          </ion-col>
          <ion-col *ngIf="order.isExpired" text-center>
            <span class="arriving">Arriving:</span> 
            <span class="arriving-time">EXPIRED</span>
          </ion-col>
          <!-- end arriving -->
          <ion-col *ngIf="!order.isProcessing"  text-right>
            <button (click)="onProcessOrder(order, i)" class="process-btn" color="secondary" ion-button outline no-margin>Process</button>
          </ion-col>
          <ion-col *ngIf="order.isProcessing" text-right>
            <button (click)="onSetIsActiveFalse(order, i)" class="process-btn" color="danger" ion-button outline no-margin>Clear</button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      
      <ion-card-content *ngIf="order.showOrderDetails">
          <div>
            <span class="bold order-title">Order</span>
            <div class="purchase-item-container" *ngFor="let x of order.orderDetails; let i = index;">  
              <span class="bold">{{x.quantity }} </span>
              <span class="bold" *ngIf="x.size"> {{x.size}} </span>
              <span class="bold"> {{ x.productName | uppercase }}</span><span class="bold" *ngIf="x.quantity > 1">s</span>
              <div class="extras-container">
                  <ProductDetails [list]="x.flavors"></ProductDetails>
                  <ProductDetails [list]="x.addons"></ProductDetails>
                  <ProductDetails [list]="x.dairy" hasQuantity="true"></ProductDetails>
                  <ProductDetails [list]="x.variety"></ProductDetails>
                  <ProductDetails [list]="x.sweetener"></ProductDetails>
                </div>
            </div>
            <div margin-top>
              <span *ngIf="order.userComments" class="bold">User Comments: </span>
              <span>{{ order.userComments }}</span>
            </div>
            <div margin-top>
              <span *ngIf="order.total" class="bold">Total: </span>
              <span class="total bold">{{ order.total | currency:symbolDisplay:true }}</span>
            </div>
            <div *ngIf="order.isExpired" margin-top text-center>
              <button (click)="customerNeverPickedUp(order, i)" color="danger" ion-button outline no-margin>Customer never picked up</button>
            </div>
          </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
