page-order-ahead-dashboard {
    .arriving-time {
        color: map-get($colors, danger);
        font-size: 14px;
        letter-spacing: 1.4px;
    }

    .purchase-date {
        font-size: 12px;
        position: relative;
        top: -15px;
    }

    .order-title {
        font-size: 16px !important;  
    }

    .purchase-item-container {
        border-bottom: 1px solid lightgray !important;
        border-top: 1px solid lightgray !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .process-btn {
        position: relative !important;
        bottom: 10px !important;
    }

    .name, .arriving {
        font-size: 12px !important;
    }

    .customer-never-picked-up {
        background-color: map-get($colors, danger);
        color: white;
        font-size: 18px;
    }

    .active-checkmark-location {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .checkmark {
        font-size: 30px !important;
        position: relative;
        top: -10px;
        animation: checkmarkzoom 1s;
       // right: -5px;
    }

    .incoming-new-order-animation {
        background-color: map-get($colors, white);
        -webkit-animation: animatezoom 1.6s;
        animation: animatezoom 1.6s;
        
    }

    .incoming-new-order {
        border: 2px solid map-get($colors, primary);
        background-color: white;
    }

    .is-expired {
        border: 2px solid map-get($colors, danger);
    }

    .active-title {
        color: map-get($colors, secondary);
        font-size: 10px;
        font-variant: small-caps;
        letter-spacing: 1.4px;
    }


    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0);
            background-color: map-get($colors, primary);
            opacity: 0;
        } 
        to {
            -webkit-transform: scale(1);
            background-color: white;
            opacity: 1;
        }
    }

    @keyframes animatezoom {
        from {
            transform: scale(0);
            background-color: map-get($colors, primary);
            opacity: 0;
        } 
        to {
            transform: scale(1);
            background-color: white;
            opacity: 1;
        }
    }

     @-webkit-keyframes checkmarkzoom {
        from {
            -webkit-transform: scale(0);
            background-color: map-get($colors, primary);
            opacity: 0;
        } 
        to {
            -webkit-transform: scale(1);
            background-color: white;
            opacity: 1;
        }
    }

    @keyframes checkmarkzoom {
        from {
            transform: scale(0);
            font-size: 60px;
        } 
        to {
            transform: scale(1);
            font-size: 30px;
        }
    }

}
