<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit {{type}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3 text-center>Edit {{type}}</h3>
   <ion-list>
      <ion-item>
        <ion-label>Select the {{type}} to edit</ion-label>
        <ion-select [disabled]="!values.length" [(ngModel)]="selectedValue" (ionChange)="selectedValueChange($event, x)">
          <ion-option *ngFor="let x of values; let i = index;" [value]="x">{{ x.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  <div *ngIf="editOid">
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm.value, myForm.valid)">
      <ion-item>
        <ion-label floating>{{type}} Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <button class="width-60 app-btn align-center" color="primary" [disabled]="!myForm.valid && !editOid" ion-button block margin-top>Submit</button>
    </form>
  </div>
  <div *ngIf="editOid" margin-top text-center>
    <button class="width-50 margin-top" ion-button color="danger" (click)="remove()">Remove</button>
  </div>

</ion-content>
