page-categories {
    .ion-card {
        position: relative;
        text-align: center;
        border-top: 5px solid map-get($colors, primary);
        border-radius: 8px !important;
    }

    .card-title {
        

    }

    .ion-card img {
        height: 120px;
    }
}
