page-categories {
    .ion-card {
        position: relative;
        text-align: center;
        border-radius: 10px !important;
        box-shadow: 2px 6px 14px;
    }

    .card-title {
        

    }

    .ion-card img {
        height: 120px;
    }
}
