page-add-location {
    .bottom {
        line-height: 4 !important;
    }

    .custom-input {
        border: none !important;
        height: 50px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .close-toggle {
        position: relative;
        bottom: 10px;
        left: 3vw;
    }

    ion-datetime {
        font-size: 10px !important;
    }

    @media screen and (max-width: 481px) {
        .open-close-container > ion-row > ion-col {
            font-size: 8px !important;
            margin-left: none !important;
            padding-left: none !important;
            
        }
    }

}
