<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="navExplanations()">
        <ion-icon ios="ios-help" md="ios-help"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Edit Individual Reward</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="width-100">
  <div class="width-90 align-center">
    <h4 text-center>Descriptive Info</h4>
    <ion-item color="primary" text-wrap>
       All individual rewards will be generated automatically for the user when appropriate. These individual
    rewards will not be available for everyone; rather, they will be given to the user based on meeting at least one of the following criteria:
    1.) A reward given for a birthday, 
    2.) A reward given for the first time a user loads money onto the mobile card, and 3.) A reward given for when 
    a user crosses the company point threshold amount currently in place. All of these are optional and are up to the company to implement.
    </ion-item>
    <ion-list margin-top>
      <ion-item class="outline">
        <ion-label>Select the individual reward to edit</ion-label>
        <ion-select [disabled]="!values.length" [(ngModel)]="editOid" (ionChange)="editValueChange()">
          <ion-option *ngFor="let x of values; let i = index;" [value]="x.oid">{{x.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div *ngIf="editOid" class="width-80 align-center">
      <form margin-top [formGroup]="myForm" (ngSubmit)="submit(myForm.value)" novalidate>
        <!-- general info -->
        <ion-item>
          <ion-label floating>Reward Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <control-messages [isSubmitted]="isSubmitted" [controlInstance]="myForm.controls.name"></control-messages>

        <!-- image -->
        <Image (getImgCordova)="getImgCordova()" header="Rewward Individual Image" [imgSrc]="imgSrc"></Image>

        
        <ion-item margin-top>
          <ion-label class="text-area-label" stacked>Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <control-messages [isSubmitted]="isSubmitted" [controlInstance]="myForm.controls.description"></control-messages>
        <ion-item margin-top>
          <ion-label class="text-area-label" stacked>Exlusions</ion-label>
          <ion-textarea formControlName="exclusions"></ion-textarea>
        </ion-item>
        <control-messages [isSubmitted]="isSubmitted" [controlInstance]="myForm.controls.exclusions"></control-messages>

        <!-- individual reward type -->
        <ion-item margin-top>
          <ion-label>Individual Reward Type</ion-label>
          <ion-select formControlName="lkpRewardIndividualTypeOid" (ionChange)="individualRewardTypeChanged($event)">
            <ion-option *ngFor="let x of lkps.individualRewardTypes; let i = index;" [value]="x.oid">{{ x.name }}</ion-option>            
          </ion-select>
        </ion-item>
        <control-messages [isSubmitted]="isSubmitted" [controlInstance]="myForm.controls.lkpIndividualRewardType"></control-messages>

        <!-- Is free purchase item? 
        <ion-item margin-top class="width-80">
          <ion-checkbox formControlName="isFreePurchaseItem"></ion-checkbox>
          <ion-label>Is this a "one free purchase item (on the order)" reward? </ion-label>
        </ion-item>
        <control-messages [isSubmitted]="isSubmitted" [controlInstance]="myForm.controls.isFreePurchaseItem"></control-messages>
        -->
        <!-- has expiration date? --
        <ion-item margin-top class="width-80">
          <ion-label>Does this reward have an expiration date?</ion-label>
          <ion-checkbox formControlName="hasExpiryDate"></ion-checkbox>
        </ion-item>
        <control-messages [isSubmitted]="isSubmitted" [controlInstance]="myForm.controls.hasExpiryDate"></control-messages>

        <!-- conditional expiry date details --
        <div margin-top *ngIf="myForm.controls.hasExpiryDate.value">
          <ion-item>
            <ion-label>Individual Reward Expiration Date</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="YYYY MMMM DD" formControlName="expiryDate" hoursValues="11" minuteValues="59"></ion-datetime>
          </ion-item>
          <control-messages [isSubmitted]="isSubmitted" [controlInstance]="myForm.controls.expiryDate"></control-messages>
        </div> -->
        <button class="width-60 app-btn align-center" color="primary" type="submit" [disabled]="!myForm.valid && !editOid" ion-button block margin-top>Submit</button>
      </form>
    </div>
    <div *ngIf="editOid" margin-top text-center><button class="width-50 margin-top" ion-button color="danger" (click)="remove()">Remove</button></div>
  </div>
</ion-content>
