page-products-list {
    $primary: #387ef5;

    .ion-card {
        position: relative;
        text-align: center;
        border-radius: 10px !important;
        box-shadow: 2px 6px 14px;
    }

    .ion-card > img {
        height: 190px;
    }

    .card-title {
       font-size: 36px;
    }
}
