<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ categoryName }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <EmptyMessage *ngIf="!products.length" message="products"></EmptyMessage>
  <ion-row class="align-center" style="border-bottom: 1px solid lightgray;" >
    <ion-col class="align-center" *ngFor="let x of products" col-9>
      <ion-card class="hover" tappable (click)="navToProductDetails(x)">
        <img  [src]="x.imgSrc" onError="this.src='img/default.png';"/>
        <div class="card-title">{{ x.name }}</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
