<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-buttons end>
      <button ion-button icon-only (click)="navExplanations()">
       <ion-icon ios="ios-help" md="ios-help"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>App Images</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding  class="width-100">
  <div class="width-90 align-center">
    <ion-list>
        <ion-item class="outline">
          <ion-label>Select the image to add/edit</ion-label>
          <ion-select [disabled]="!values.length" [(ngModel)]="editValue" (ionChange)="editValueChange(x, i)">
            <ion-option *ngFor="let x of values; let i = index;" [value]="x">{{x.label}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-row margin-top *ngIf="editValue.name" class="width-100 align-center">
        <ion-col col-6 class=" align-center">
          <ion-item>
            <ion-card tappable (click)="getImgCordova()" item-start>
              <div text-wrap class="label"> {{ editValue.label }}</div>
              <img *ngIf="editValue.imgSrc" class="img" [src]="editValue.imgSrc" onError="this.src='img/default.png';" />
              <img *ngIf="!editValue.imgSrc" class="img" [src]="defaultImg" onError="this.src='img/default.png';" />
            </ion-card>
          </ion-item>
          <ion-item>
            <div margin-bottom text-wrap class="dimensions">Optimal dimensions:  &nbsp; Width: {{ editValue.targetWidth }}px, Height: {{ editValue.targetHeight }}px</div>
          </ion-item>

        </ion-col>
      </ion-row>
      
      <button class="width-60 app-btn align-center" color="primary"  [disabled]="!appImg || !appImg.imgSrc" (click)="submit()" ion-button block margin-top>Submit</button>
  </div>
</ion-content>
